.navbar-light{
  background: rgb(102, 195, 241);

}
 
.jumbotron{
    background: url("img/traintop.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% ;
}

body{
  background: rgb(238, 238, 238);
}

.display-4{
  height: 250px;
    font-weight: bold;
    color: rgb(46, 245, 28);
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   margin-left: 0%;
   font-size: 80px;
}

.lead{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.navbar-dark{
    margin-top: -35px;
}
.form-inline{
    text-align: center;
    
}
.form-control{
    padding-right: 20px;
}



/* .lead {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 50%;
      width: 100%;
    }
  } */

